.welcome-container {
}

.user-table {
    width: 1000px;
    height: 1000px;
    margin-left: 50px;
    margin-top: 0;
}

.search-user-table {
    width: 400px;
}

.all-user-table {
    width: 400px;
}

.select-user-table {

}